* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

li {
    list-style: none;
}

:root {
    /* alignment-property */
    --page-width: 1600px;
    --padding-alignent: 0px 130px;
    /* background-property */
    /* color-property */
    --primary-color: white;
    --tertiary-color: rgba(38, 163, 219, 1);
    /* all-font-size */
    --text-font-size: 14px;
    --normal-text-font-size: 16px;
    --heading-font-size: 36px;
    --title-font-size: 18px;
    --medium-text-size: 28px;
    --product-title-font-size: 20px;
    /* all-font-weight */
    --normal-font-weight: 400;
    --heading-font-weight: 500;
    --medium-font-weight: 600;
    /* all-fonts-property */
    --normal-line-height: 24px;


}

.color-scheme-1 {
    --background-color: rgba(38, 163, 219, 1);
    --color: white;
}

.color-scheme-2 {
    --background-color: rgba(233, 246, 251, 1);
    --color: black;
}

.color-scheme-3 {
    --background-color: white;
    --color: black;
}

.gradiant {
    background-color: var(--background-color);
    color: var(--color);
}

a {
    color: inherit;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-width {
    width: 100%;
    max-width: 1600px;
    padding: 0px 130px;
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 10px; */
    /* align-items: baseline; */
    justify-content: center;
    row-gap: 20px;
}

.grid-col-2-for-desk .grid-items {
    width: 100%;
    max-width: calc(50% - 0px);
}

.grid-col-6-for-desk .grid-items {
    width: 100%;
    max-width: calc(16.6% - 0px);
}

.grid-col-4-for-desk .grid-items {
    width: 100%;
    max-width: calc(25% - 30px);
}

.grid-col-4 .grid-items {
    width: 100%;
    max-width: calc(25% - 0px);
}

.capitalize-sentence {
    text-transform: capitalize;
}

@font-face {
    font-family: americanFont;
    src: url("../fonts/Americana Font Regular/Americana Font Regular.otf");
}

@font-face {
    font-family: NunitoSans;
    src: url("../fonts/NunitoSans-Regular.ttf");
}

.additional-head {
    color: var(--tertiary-color);
    font-size: var(--normal-text-font-size);
    text-transform: uppercase;
    font-family: NunitoSans;
}

.price-and-date,
.connect-status,
.footer-bottom {
    color: rgba(138, 144, 153, 1);
    font-size: var(--text-font-size);
    font-weight: var(--normal-font-weight);
    font-family: NunitoSans;
}

.primary-btn,
.sec-btn {
    font-size: var(--normal-text-font-size);
    font-weight: var(--normal-font-weight);
    font-family: NunitoSans;
    padding: 13px 36px;
    border-radius: 5px;
}

.underline-btn {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.heading {
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    font-family: americanFont;
}

.normal-text,
.footer-links,
.underline-btn {
    font-size: var(--normal-text-font-size);
    font-weight: var(--normal-font-weight);
    font-family: NunitoSans;
}

.med-title {
    font-size: var(--title-font-size);
    font-weight: var(--heading-font-weight);
    font-family: americanFont;
}

.small-text,
.navigation-list-wraper a {
    font-size: var(--text-font-size);
    font-weight: var(--normal-font-size);
    font-family: NunitoSans;
    line-height: var(--normal-line-height);
    letter-spacing: 0%;
}

.navigation-list-wraper a {
    text-transform: capitalize;
}

/* Annoncment--section */
.annoncment-bar-wraper {
    position: relative;
    z-index: 1;
}

.annoncment-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 130px;
    text-align: center;
}

/* Header-section */
.header-wraper {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 45px;
}

.logo-wraper {
    max-height: 50px;
    max-width: 110px;
}

.icon {
    max-width: 24px;
    max-block-size: 24px;
}

ul.navigation-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
}

.header-grid {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

header.header-section {
    color: white;
}

.header-icon-wraper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.header-icon {
    display: flex;
    justify-content: flex-end;
}

.hidden-mega-menu {
    display: none;
}

.mega-menu-icon-wraper {
    max-width: 30px;
    max-height: 30px;
}

.navigation-list-wraper a:hover {
    color: rgba(38, 163, 219, 1);
}

/* banner-section */
.banner-media {
    height: 700px;
    position: relative;
}

section.banner-wraper {
    position: relative;
}

.banner-content {
    position: absolute;
    color: white;
    top: 33%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: baseline;
    width: 100%;
}

.banner-media img {
    object-fit: cover;
    aspect-ratio: 3/1;
}

/* icon-with-text-section */

.icon-with-text-section {
    padding: 20px 0px;
}

.icon-with-text-inner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.policies> :not(:first-child) {
    align-items: center;
    justify-content: center;
}

.policies li {
    display: flex;
}

.policies li:last-child {
    justify-content: end;
}

/* category-section */
.product-media {
    max-width: 312px;
    max-height: 500px;
    position: relative;
}

.category-cart {
    position: relative;
}

.category-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

ul.category-list {
    gap: 35px;
}

.pagination {
    display: none;
}

.product-title {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 33%;
    gap: 10px;
}

.head-section {
    padding-bottom: 50px;
}

/* featured-callection */
.head-flex img {
    max-width: 30px;
}

.head-flex {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.swiper-pagi {
    display: none;
}

.featured-product-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.featured-product-title h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a.outline-btn {
    width: 90%;
    border: 1px solid #8a9099;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: NunitoSans;
}

.featured-product :hover .quick-add {
    visibility: visible;
}

.quick-add {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.featured-product-media {
    position: relative;
}

.featured-product-media img {
    position: relative;
}

/* image-with-text-section */
.cheak-option {
    display: flex;
    gap: 10px;
}

.image {
    max-width: 310px;
    max-height: 439px;
    height: 100%;
}

.image img {
    aspect-ratio: 3.4/5;
    object-fit: cover;
}

.iamge-section {
    display: flex;
    position: relative;
}

.image.media-1 {
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 43%;
    display: flex;
}

.image-text-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.image.media-2 {
    position: relative;
    left: 50%;
}

.image-text-section {
    width: 50%;
}

.image-with-text-section {
    width: 100%;
    display: flex;
    gap: 80px;
}

.iamge-section {
    display: flex;
    position: relative;
    width: 50%;
}

section.image-with-text-wraper {
    padding-bottom: 120px;
    height: fit-content;
}

/* image-with-upper-text */
.inner-image-wraper {
    width: 100%;
    max-height: 600px;
    height: 100%;
    position: relative;
}

.inner-image-wraper img {
    aspect-ratio: 5/2;
    object-fit: cover;
    max-height: 600px;
}

.image-with-upper-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upper-content,
.content-width {
    position: absolute;
    color: white;
    top: 20%;
    max-width: 535px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}

section.image-with-upper-text-wraper {
    display: flex;
    justify-content: center;
}

.inner-image {
    width: 100%;
}

/* rich-content */
.content {
    font-size: var(--medium-text-size);
    font-family: americanFont;
    font-weight: var(--heading-font-weight);
    max-width: 1024px;
}

.rich-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* max-width: 1025px; */
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.rich-text-section {
    display: flex;
    justify-content: center;
}

.rich-text {
    text-align: center;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* image-with-content */
.content-width {
    position: unset;
    color: black;
}

.content-image {
    max-height: 600px;
}

.image-with-content {
    align-items: center;
}

/* follow-us gallery */
.gallery-media {
    max-width: 245px;
}

.gallery-media img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

ul.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

section.follow-us-gallery-wraper {
    padding: 80px 20px;
}

.follow-us-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* image-with-text */
.product-content {
    font-size: var(--product-title-font-size);
    font-family: americanFont;
}

.review {
    display: flex;
    gap: 3px;
}

.vector {
    display: flex;
    gap: 20px;
    align-items: center;
}

.image-with-content {
    align-items: center;
}

.grid-flex {
    display: flex;
    gap: 60px;
    width: 100%;
}

.review-box {
    width: 48%;
}

.review-box .content-width {
    max-width: 100%;
}

.review-box .content-width .product-content {
    line-height: 35px;
}

.prouct-image p {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* scrolling-image-with-text */
.text-with-scrolling-image-section {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

/* blog-section */
.grid-col-3-for-blog .grid-items {
    width: 100%;
    max-width: calc(33.3% - 20px);
}

.blogs-wraper {
    gap: 30px;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog::after {
    content: "";
    position: absolute;
    background: lightgray;
    height: 100%;
    width: 1px;
    left: -15px;
}

.after {
    position: relative;
}

.none::after {
    display: none;
}

/* footer-section */

ul.social-icon-wraper {
    display: flex;
    gap: 15px;
}

ul.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.ul-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.inner-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content {
    line-height: 30px;
    max-width: 95%;
}

.social-icon-with-title-wraper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social {
    max-width: 25px;
    width: 100%;
    display: flex;
}


.footer-links {
    padding: 80px 0px;
    gap: 40px;
}

input.primary-input,
.selector {
    padding: 15px 10px;
    background: transparent;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 5px;
    width: 100%;
    color: var(--primary-color);
    font-family: NunitoSans;
}

.selector {
    width: 30%;
}

input::placeholder {
    color: var(--primary-color);
}

.connect-status {
    color: var(--primary-color);
}

.footer-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-family: NunitoSans;
    color: var(--primary-color);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-bottom-wraper {
    border-top: 1px solid white;
}

footer.footer-section {
    font-family: NunitoSans;
}

.payment-icon {
    display: flex;
    gap: 10px;
}

.payment-icon-wraper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.policy {
    display: flex;
    width: 63%;
    justify-content: flex-start;
    gap: 20px;
}

.state-selector-wraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-with-scrolling-image-section .image-text-section {
    position: sticky;
    top: 0;
    padding-top: 80px;

}

.scrolling-image-wraper {
    max-width: 600px;
}

.scrolling-image-wraper img {
    aspect-ratio: 6/7;
    object-fit: cover;
}

/* 
@media screen and (max-width: 1280px) {
    .page-width {
        padding: 15px 30px;
    }

    .hidden-mega-menu {
        display: flex;
        align-items: center;
    }

    .header-navigation {
        display: none;
    }

    .grid {
        column-gap: 15px;
    }

    .policies {
        column-gap: 0;
    }

    .grid-col-3-for-desk .grid-items {
        width: 100%;
        max-width: calc(33.3% - 10px); */
/* overflow: hidden; */
/* } */
/* 
    .grid-col-2-for-desk .grid-items {
        width: 100%;
        max-width: calc(50% - 10px);
    }

    ul.links {
        padding-left: 0px;
        padding-bottom: 30px;
    }

    .grid-col-3 .grid-items {
        width: 100%;
        max-width: calc(33.3% - 16px);
    }
}

@media screen and (max-width: 990px) {
    .hidden-mega-menu {
        display: flex;
        align-items: center;
    }

    .header-navigation {
        display: none;
    }

    .page-width {
        padding: 15px 30px;
    }

    .banner-media img {
        height: 750px;
    }

    .state-selector-wraper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        text-align: center;
    }

    .selector {
        width: 75%;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .payment-icon-wraper {
        align-items: center;
    }

    .policy {
        width: auto;
    }

    .grid-col-2-for-tablet .grid-items {
        width: 100%;
        max-width: calc(50% - 20px);
    }

    .grid-col-3-for-desk .grid-items {
        width: 100%;
        max-width: calc(33.3% - 10px); */
/* overflow: hidden; */
/* } */

/* .policies li:last-child {
        justify-content: center;
    }

    .policies li {
        justify-content: center;
    }

    .grid-flex {
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
    }

    .review-box {
        width: 100%;
    }

    .grid-col .grid-items {
        width: 100%;
        max-width: calc(100% - 0px);
    }

    .upper-content,
    .content-width {
        top: 10%;
    }

    .inner-image-wraper img {
        aspect-ratio: 5/3;
    }

    .iamge-section {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 80%;
    }

    .image-with-text-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .image-text-section {
        width: 100%;
    }

    .grid-col-3-for-blog .grid-items {
        width: 100%;
        max-width: calc(50% - 8px);
    }

    .content-image {
        max-height: 100%;
    }

    .prouct-image.grid-items.review-image {
        width: 100%;
    }

    .featured-product :hover .quick-add {
        width: 60%;
    }

    .featured-product-media {
        display: flex;
        justify-content: center;
    }

    .category-cart {
        display: flex;
        justify-content: center;
    }

    .text-with-scrolling-image-section {
        gap: 20px;
    }
} */

/* @media screen and (max-width: 560px) {
    .banner-content {
        position: unset;
        color: black;
    }

    .banner-media img {
        height: auto;
    }

    .grid-col-2-for-tablet .grid-items {
        width: 100%;
        max-width: calc(50% - 20px);
    }

    .grid-col-2-for-desk .grid-items {
        width: 100%;
        max-width: calc(100% - 10px);
    }

    .product-title {
        left: 25%;
    }

    .annoncment-bar {
        padding: 0px;
    }

    .category-cart {
        display: flex;
        justify-content: center;
    }

    .banner-media {
        max-height: 490px;
        height: auto;
        padding-bottom: 10px;
    }

    .header-wraper {
        top: 20px;
    }

    .policies {
        column-gap: 15;
    }

    .quick-add {
        width: 88%;
    }

    .grid-col-3 .grid-items {
        width: 100%;
        max-width: calc(50% - 16px);
    }

    .grid-col-3-for-blog .grid-items {
        width: 100%;
        max-width: calc(100% - 8px);
    }

    .none::after {
        display: block;
    }

    .heading {
        font-size: 7vw;
    }

    .image.media-2 {
        left: 50%;
    }

    .image.media-1 {
        right: 19%;
    }

    .inner-image-wraper img {
        aspect-ratio: 1/0;
    }

    .upper-content,
    .content-width {
        position: unset;
        color: black;
        width: 90%;
    }

    .quick-add {
        width: 60%;
    }

    .featured-product-media {
        display: flex;
        justify-content: center;
    }

    .scrolling-images {
        gap: 10px;
        display: flex;
    }

    .text-with-scrolling-image-section {
        flex-direction: column;
        gap: 0px;
    }

    .image.media-1 {
        position: unset;
    }

    .iamge-section {
        width: 100%;
    }

    .image.media-2 {
        position: unset;
    }

    .image img {
        aspect-ratio: 1/0;
    }

    .image {
        height: auto;
        display: flex;
    }

    .iamge-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    section.image-with-text-wraper {
        padding-bottom: 0px;
        height: fit-content;
    }
} */